mat-card{
    max-width: 550px;
    margin: 50px auto;
}
.icon {
    font-size: 20px;
}
.back-btn {
    margin-left:5%;
    margin-top: 20px;
    display: block;
}

.info-block{
    padding: 10px 0 10px 0;
}
h1 {
    margin: auto;
    text-align: center;
}